header{
    background: linear-gradient(135deg, #1E3A8A, #0F2454);
    text-align: center;
    padding: 20px;
    /*border-style: solid;
    border-color: #D4E0F0;*/
    color: white;
    font-family: Poppins;
    font-weight: 700;
}

.deskripsi{
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

body{
    background-color: #E8F1FA;
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
    color: #1F2937;
}

h2{
  text-align: center;
}

.form-container{
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    width: auto;
    display: flex;
    gap: 20px;
}

.form-box1{
    background: white;
    border: #D1E3F3 2px solid;
    border-radius: 12px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin-bottom: 0.5rem 0;
    font-weight: 600;
    color: #1F2937;
}

input, select{
    width: 90%;
    margin: 10px 0 0 0;
    border-radius: 12px;
    transition: 0.2s ease;
}

input{
  background:
  border; 1.5px solid #E0E6ED;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #1E3A8A, #0F2454);
  border: none;
  min-width: 300px;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  filter: brightness(1.1);
}

.form-box2{
    background: white;
    border: #D1E3F3 2px solid;
    border-radius: 12px;
    padding: 20px 25px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grid-sensor{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
}

.measurements{
    flex: 1;
    background-color: #E6F2FF;
    border: #D1E3F3 2px solid;
    border-radius: 12px;
    padding: 15px 20px;
    height: 100px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 20px;
}

.measure-value {
    font-size: 32px;
    font-weight: 700;
    color: #6B7280;
    text-align: center;
    padding-top: 80px;
}

.note-sensor {
    text-align: center;
    color: #6B7280;
    margin-top: 20px;
    font-size: 17px;
    font-style: italic;
    opacity: 0.8;
}

.hasil-bmi{
    width: 95%;
    margin: 20px auto;
    background: #ffffff;
    border: #D1E3F3 2px solid;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.container{
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.kategori-bmi, .kategori-tekanan{
    flex: 1;
    background-color: #FFFFFF;
    border: 2px solid #D1E3F3;
    border-radius: 20px;
    padding: 20px;
    min-width: 520px;
    min-height: 220px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer{
    text-align: center;
    padding: 10px;
    color: #475569;
    background: #F0F4F4;
    font-family: Poppins;
    font-weight: 400;
    position: relative;
    bottom: 0;
    width: 100%;
}